@import '_variables.css';
@import '_base.css';
@import '_components.css';

/* Any additional styles specific to popup that don't fit in the other files */

.event-link {
  display: block;
  margin-top: 5px;
  color: #4a90e2;
  text-decoration: none;
  font-weight: 600;
}

.event-link:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

#custom-time-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-time-inputs-wrapper {
  display: flex;
  gap: 5px;
}

.custom-time-inputs-wrapper input {
  flex: 1;
  min-width: 0;
}

#custom-time-inputs input {
  transition: border-color 0.3s ease;
}

#custom-time-inputs input:invalid {
  border-color: red;
}
